.navbar {
  background-color: #ffffff;
  height: 100vh;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  border-left: solid 2px #000000;
}

.navbar p {
  font-size: 12px;
  text-decoration: none;
}

.navbar button {
  height: 52px;
  width: 52px;
  /*background-image: url("../../images/BOTON.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;*/
  background-color: grey;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  padding-bottom: 8px;
  color: #000000;
}

.navbar button:hover {
  color: #000000;
  background-color: #ffca04;
}

.navbar button:active {
  transform: translateY(2px);
  background-color: #ffca04;
}

.navbar button:focus {
  outline: none;
}
.menu-bars {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  background: none;
}
.menu-bars span {
  border: solid 2px #000000;
  border-radius: 3px;
  padding: 3px 6px;
}

.nav-menu {
  background-color: #ffca04;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  right: -50%;
  transition: 850ms;
}

.nav-menu h2 {
  font-size: 7rem;
}

.nav-menu h4 {
  font-size: 1.7rem;
  letter-spacing: 1.5em;
}

.sub-title {
  display: flex;
  justify-content: flex-end;
}

.nav-menu-left {
  background-color: #ffca04;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: -50%;
  transition: 850ms;
}

.nav-menu.active {
  right: 65px;
  transition: 850ms;
}

.nav-menu-left.active {
  left: -65px;
  transition: 850ms;
}

@media screen and (max-width: 768px) {
  .nav-menu h2 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu h4 {
    font-size: 1rem;
    letter-spacing: 1em;
  }
}
